.bg-container {
  background-image: url(https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;

  font-family: 'Roboto';
  box-shadow: 0px 4px 10px 0px;
}
.head {
  color: #0b69ff;
  font-size: 25px;
}
.para {
  color: #333333;
}
.button {
  background-color: #0b69ff;
  border-style: solid;
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  cursor: pointer;
  outline: none;
}
.head2 {
  font-size: 37px;
  color: #0b69ff;
  font-weight: bold;
}
